@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/lena');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.social{
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: #07717a;
  display: flex;
  justify-content: space-between;
  padding: 0.4vw 1vw;
    #images {
      width: 8%;
      margin-top: 0.4vw;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      .networks {
        height: auto;
        width: 1.5vw;
        padding: 0 0.5vw;

      }

      img {
        height: 80%;
      }
    }

    .email {
      margin-top: 15px;
      color: white;
      font-size: 1vw;
      margin-right: 4vw;
    }

  }


.header {

  .logo {
    display: flex;
    align-items: center;
    padding: 0.5vw 4vw 0.3vw;
    background-color: white;
    justify-content: space-between;

    #btns {
      padding-top: 1vw;
      background-color: white;
      display: flex;
      flex-direction: row;

      p {
        font-size: 1vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        padding: 0 2vw;
        cursor: pointer;

      }

    }

    .btn {
      outline: none;
      cursor: pointer;
      border-radius: 11px;
      padding: 0.6vw 0.8vw;
      margin-top: 0.4vw;
      font-size: 1vw;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      background-color: #5D7A50;
      border: solid 1px #5D7A50;
      color: white;

      &:hover {
        background-color: teal;
        transition: 0.5s;
      }


    }

    .main-logo {
      height: 80%;
    }
  }

  .main-header {
    background-color: white;
    padding: 0;
    display: flex;

    .font {
      position: absolute;
      width: 100vw;
      z-index: 0;
    }

    #logo-date {
      display: flex;
      flex-direction: column;
      margin-top: 1px;
      padding: 0 0 0 3vw;

      p:first-of-type {
        font-family: "Lena", sans-serif;
        font-size: 3vw;
        font-weight: 500;
        text-align: left;
        margin-top: 5.5vw;
      }

      p {
        font-family: "Lena", sans-serif;
        font-size: 4.7vw;
        font-weight: 400;
        text-align: left;
        margin: 0.1vw;
        line-height: 6.5vw;

      }

      button {
        outline: none;
        cursor: pointer;
        border-radius: 11px;
        padding: 1.7vw 0.8vw;
        margin-top: 0.4vw;
        font-size: 3vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        background-color: #5D7A50;
        border: solid 1px #5D7A50;
        color: white;
        width: 30vw;

        &:hover {
          background-color: teal;
          transition: 0.5s;
        }
      }
    }

    .logo-date {
      z-index: 1;
    }

    .date-img {
      z-index: 1;
      margin-top: 1px;
      background-color: rgba(0, 0, 0, 0);

      img:first-of-type {
        right: 10.5vw;
        top: 13vw;
        position: absolute;
        width: 23vw;
        z-index: 2;
      }

      img {
        position: absolute;
        width: 23vw;
        right: 20vw;
        top: 28vw;

      }
    }
  }
}

.main {
  margin-top: 7vw;
  padding: 0.4vw 3.5vw;

  .main-title {
    font-family: "Lena", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    text-align: left;
    margin-top: 5.5vw;

  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card {
      background-color: #07717a;
      width: 24%;
      border-radius: 12px;
      position: relative;

      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 88%;
        height: 100%;
      }

      .title-card {
        font-family: "Lena", sans-serif;
        font-size: 2vw;
        font-weight: 500;
        text-align: left;
        padding: 0.3vw 0;
        margin: 1vw 0 1.5vw 1vw;
        z-index: 5 !important;
        position: relative;
        color: white;
      }

      .card-txt {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2vw;
        text-align: left;
        padding: 0 0;
        line-height: 2vw;
        z-index: 5 !important;
        position: relative;
        margin: 1vw 0 3.5vw 1vw;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
  .logo-video{
    font-family: "Lena", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    margin-top: 9vw;
  }

  .video-text{
    display: flex;
    flex-direction: row;
    height: 28vw;
    img{
      cursor: pointer;
      height: 100%;
    }
    .txt-for-video{
      display: flex;
      align-content: space-between;
      flex-direction: column;
      height: 100%;
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 1.2vw;
      padding: 0 0 0 3vw;
      width: 100%;

      p{
        background-color: #F5E489;
        padding: 2.66% 5%;
        margin: 2% 0;
        width: fit-content;
        border-radius: 1vw;
        font-weight: 700;

      }
      p:first-of-type{
        margin-top: 0;
      }
      p:last-of-type{
        margin-bottom: 0;
      }


    }
  }

  .logo-card{
    font-family: "Lena", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    margin-top: 9vw;
  }

  .wrapper-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card {
      background-color: #07717a;
      width: 24%;
      border-radius: 12px;
      position: relative;

      img:first-of-type {
        position: absolute;
        top: 0;
        right: 0;
        width: 88%;
        height: 100%;
      }
      img:last-of-type{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 115%;
      }

      .title-card1 {
        font-family: "Lena", sans-serif;
        font-size: 2vw;
        font-weight: 500;
        text-align: left;
        padding: 0.3vw 0;
        margin: 1vw 0 0 1vw;
        z-index: 5 !important;
        position: relative;
        color: white;
      }

      .card-txt1 {
        font-family: "Montserrat", sans-serif;
        font-size: 1vw;
        text-align: left;
        padding: 0 0;
        line-height: 2vw;
        z-index: 5 !important;
        position: relative;
        margin: 0 0 3.5vw 1vw;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    .btn-cards{
      cursor: pointer;
      width: 24%;
      height: 5vw;
      border-radius: 11px;
      font-size: 2vw;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      background-color: #5D7A50;
      border: solid 1px #5D7A50;
      color: white;
      margin-top: 5.5vw;
      transition: 0.3s;
      &:hover{
        background-color: #07717a;
      }
    }
  }

  .banner{
    background-color: #F5E489;
    margin-top: 10vw;
    padding: 5vw 5vw 5vw 5vw;
    border-radius: 0.8vw;
    .banner-txt{
      display: flex;
      justify-content: center;
      font-family: "Lena", sans-serif;
      font-size: 2vw;
      font-weight: 500;

    }
  }
}

.footer{
  margin-top: 10vw;
  background-color: #07717a;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 9vw;

  .footer-img{
    width: 3%;
    img{
      margin: 0 0.5vw;
    }
  }
  div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1vw;
    font-family: "Montserrat", sans-serif;
    padding: 0 2vw;
    cursor: pointer;
    color: white;
    p{
      margin: 1vw 0.5vw;
    }
  }
  button{
    outline: none;
    border: none;
    background-color: #07717a;
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.1vw;
    font-family: "Inter", sans-serif;
    cursor: pointer;
  }
}
